**/__pycache__/
datasets/alignments/10k-20-20-un-un-seqgen-f84-700000
datasets/alignments/5k-20-20-un-un-seqgen-f84-700000
datasets/alignments/10k-20-20-un-un-seqgen-f84-200
datasets/alignments/5k-20-20-un-un-seqgen-f84-200
datasets/alignments/10k-20-20-un-un-seqgen-pam-200
datasets/alignments/5k-20-20-un-un-seqgen-pam-200
datasets/sequence_data/
datasets/typings/10k-20-20-un-un-seqgen-f84-700000-1000-600-100
datasets/typings/5k-20-20-un-un-seqgen-f84-700000-1000-600-100
datasets/typing_data/10k-20-20-un-un-seqgen-f84-700000-1000-600-100
datasets/typing_data/5k-20-20-un-un-seqgen-f84-700000-1000-600-100
*.ipynb
train/checkpoints/
wandb/
sequence_generators/
test/
**/.DS_Store